# ---------------[ Unity generated ]------------------ #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
UnityGenerated/
ProjectSettings/*.asset

# ----[ Visual Studio / MonoDevelop generated ]------- #

ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj

# -------------[ OS generated ]------------------------ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# -------------[ Build ]------------------------ #
*.html
*.unity3d


#--- Assets Store ---#
/Assets/Streets/*
/Assets/Streets.meta
/Assets/Skyscrapers/*
/Assets/skyscrapers.meta
/Assets/Block_Building_Pack/*
/Assets/Block_Building_Pack.meta
/Assets/QooQoo Free Building/*
/Assets/QooQoo Free Building.meta
/Assets/Standard Assets/*
/Assets/Standard Assets.meta

/Assets/Resources/Sidewalk 1
/Assets/Resources/Sidewalk 1.mat.meta
/Assets/Resources/Building_001_5
/Assets/Resources/Building_001_5.mat.meta

/Assets/prefabs/QooQoo's Low poly Building 001.prefab
/Assets/prefabs/QooQoo's Low poly Building 001.prefab.meta